.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.waveContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: end;
  grid-gap: 10px;
  margin-top: 16px;  
}

.waveInput {
  padding: 6px;
}

.waveButton {
  cursor: pointer;
  padding: 8px;
  border: 0;
  border-radius: 5px;
}